﻿@model EscuelaNet.Presentacion.Conocimientos.Web.Models.CategoriaIndexModel

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-6">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">CATEGORÍAS  </h3>
                <label class="text-success">@TempData["success"]</label>
                <label class="text-danger">@TempData["error"]</label>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Conocimientos</th>
                            <th>Acciones</th>
                        </tr>
                   @foreach (var categoria in Model.Categorias)
                    {
                    <tr>
                        <td>@categoria.ID</td>
                        <td>@categoria.Nombre</td>
                        <td>@categoria.Descripcion</td>
                        <td>
                            <a href="/Conocimiento/Index/@categoria.ID" title="Conocimientos" type="button" class="btn btn-warning">
                                Conocimientos
                            </a>
                            <a href="/Conocimiento/New/@categoria.ID" title="Crear un nuevo Conocimiento" type="button" class="btn btn-warning">
                                Crear Conocimiento
                            </a>

                        </td>
                        <td>
                            <a href="/Categorias/edit/@categoria.ID" title="Editar" class="btn btn-toolbar">
                                <label class="btn btn-dropbox"><i class="fa fa-edit"></i> Editar</label>
                            </a>
                            <a href="/Categorias/delete/@categoria.ID" title="borrar" class="btn btn-toolbar">
                                <label class="btn btn-default"><i class="fa fa-remove"></i> Borrar</label>
                            </a>
                        </td>
                        
                    </tr>
                    }
                        <tr>
                            <td>
                                <a href="/Categorias/new" title="Nuevo" type="button" class="btn btn-success">
                                    <i class="fa fa-plus">Nuevo</i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>
        <!-- /.box -->
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <!-- /.col -->
</div>

@section Scripts{
    <script>
    </script>
}
