﻿@model EscuelaNet.Presentacion.Programadores.Web.Models.NuevoSkillsEquipoModel

@{
    ViewBag.Title = "Editar";
}

<div class="row">
    <!-- left column -->
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">@Model.Titulo</h3>
                <label class="text-danger">@TempData["error"]</label>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm("Edit", "SkillsEquipo", null,
          FormMethod.Post, new { role = "form", data_toggle = "validator", @id = "FormSkills" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.IdSkillsEquipo)

                <div class="box-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", required = "required", data_error = "Debe ingresar el conocimiento del programador.", data_minlength = "2" } })
                        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "help-block with-errors" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Grados, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EnumDropDownListFor(model => model.Grados, htmlAttributes: new { @class = "form-control col-md-2" })
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-success">Modificar</button>
                    <a class="btn btn-danger" type="button" href="/SkillsEquipo/index/">Cancelar</a>
                </div>
            }

        </div>
        <!-- /.box -->
    </div>

</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script src="~/lib/1000hz-bootstrap-validator/validator.js"></script>
    <script>
        $(document).ready(function () {
            $('#FormSkills').validator()
        });
    </script>
}
