﻿@model EscuelaNet.Presentacion.Capacitacion.Web.Models.LugarIndexModel

@{
    ViewBag.Title = "Index";
    var x = 1;
    for (var i = 10; i > 0; i--)
    {
        x *= i;
    }
}
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Lugares</h3>

                <label class="text-success">@TempData["success"]</label>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table">
                        <tbody>
                        <tr>
                            <th style="width: 20px">#</th>
                            <th>Capacidad</th>
                            <th>Calle</th>
                            <th>Numero</th>
                            <th>Depto</th>
                            <th>Piso</th>
                            <th>Localidad</th>
                            <th>Provincia</th>
                            <th>Pais</th>
                        </tr>
                        @foreach (var lugar in Model.Lugares)
                        {
                            <tr>
                                <td>@lugar.Id</td>
                                <td>@lugar.Capacidad</td>
                                <td>@lugar.Calle</td>
                                <td>@lugar.Numero</td>
                                <td>@lugar.Depto</td>
                                <td>@lugar.Piso</td>
                                <td>@lugar.Localidad</td>
                                <td>@lugar.Provincia</td>
                                <td>@lugar.Pais</td>

                                <td>
                                    <a href="/Lugares/edit/@lugar.Id" title="Editar" class="btn btn-primary">
                                        Editar
                                    </a>
                                    <a href="/Lugares/delete/@lugar.Id" title="borrar" class="btn btn-danger">
                                        Borrar
                                    </a>
                                </td>
                            </tr>

                        }
                        <tr>
                            <td></td>
                            
                            <td colspan="7">
                                <a href="/Lugares/new" title="Nuevo" class="btn btn-primary">
                                    Nuevo
                                </a>
                            </td>
                        </tr>

                        </tbody>
                    </table>
            </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div>
        <!-- /.box -->
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <!-- /.col -->
</div>

@section Scripts{
    <script>
    </script>
}

